@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&display=swap');


.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.satisfy {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Debug: Find elements causing the issue */
/* * {
    outline: 1px solid red;
} */


.overleyImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./src/assets/bgPlane.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}